
{% comment %}
<html>
<head>
<style>

	.typepad_widget {
		border: 2px dotted;
		width: 400px;
	}
	
	img.thumbnail {
		height: 40px;
		width: 40px;
		overflow: hidden;
		float: left;
    }

	.userpic {
		display: block;
	}
	
	.event-detail {
		margin-left: 42px;
	}
	.event {
		overflow: hidden;
		padding: 6px 8px;
		border-bottom: 1px dotted;
	}

</style>

</head>

<body>
{% endcomment %}

<div class="typepad_widget">
	<div class="body">
		{% for entry in js_str.entries %}
		<div class="inner-body">
			<div class="event">
				<div class="userpic">
		        	{% comment %}
					--- This doesn't work. ---
		 			{% with object.author.links|height:50 as userpic %}
		            	<img src="{{ userpic.href }}" width="100" height="100" 
							alt="{{ member.display_name }}" />
		        	{% endwith %}
					{% endcomment %}
					<img src="{{ entry.object.author.avatarLink.url }}" class="thumbnail" />
				</div>
				<div class="event-detail">
					<a href="{{entry.actor.profilePageUrl}}">{{entry.actor.displayName}}</a>:
					{% comment %}
						-- video --
					{% endcomment %}
					{% if entry.object.videoLink %}
						shared a video called <a href="{{ entry.object.permalinkURL }}">{{ entry.object.title }}</a>
						
					{% comment %}
						-- photo --
					{% endcomment %}
					{% else %}
						{% if entry.object.imageLink %}
							shared 
							{% if entry.object.title %}
						 		a photo called <a href="{{ entry.object.permalinkURL }}">{{ entry.object.title }}</a>
							{% else %}
								{% if entry.object.content %}
									a photo called <a href="{{ entry.object.permalinkURL }}">{{ entry.object.content|truncatewords:4 }}...</a>
								{% else %}
									<a href="{{ entry.object.permalinkURL }}">an untitled photo</a>
								{% endif %}
							{% endif %}
						{% else %}
							wrote <a href="{{ entry.object.permalinkUrl }}">{{ entry.object.content|truncatewords:7 }}</a>
						
						{% endif %}
					{% endif %}
					{% comment %}
						This is what Motion uses but I can't figure out how to use.
					at {{entry.object.published|date_microformat}}
					{% endcomment %}
					<br />
					{% comment %}
						THIS TIMESTAMP IS SO UGLY.
						t: {{entry.object.published}}
					{% endcomment %}
				</div>
			</div>
		</div>
	    {% endfor %}
	</div>
</div>

<hr/>

{% if debug %}
	{% if js_str %}
		<p>JS string = "{{ js_str }}"</p>
	{% else %}
		<p>there's no js string.</p>
	{% endif %}
{% endif %}


{% comment %}
{% if hello_string %}
    <h2>
		{{ hello_string}}
	</h2>
{% else %}
	<h3>omg, i cannot find the hello_string!</h3>
{% endif %}

{% if js_str %}
	<ol>
		{% if js_str.totalResults %}
		<li>TOTAL RESULTS: {{ js_str.totalResults }}</li>
		{% else %}
		<li>Unknown number of total results.</li>
		{% endif %}
	</ol>
{% endif %}
{% endcomment %}

{% comment %}
</body>
</html>
{% endcomment %}