{% if hello_string %}
    <h2>
		{{ hello_string}}
	</h2>
{% else %}
	<h3>omg, i cannot find the hello_string!</h3>
{% endif %}

{% comment %}
{% if js_str %}
	<ol>
		{% if js_str.totalResults %}
		<li>TOTAL RESULTS: {{ js_str.totalResults }}</li>
		{% else %}
		<li>Unknown number of total results.</li>
		{% endif %}
	</ol>
{% endif %}
{% endcomment %}

<ol>
    {% for entry in js_str.entries %}
        <li><a href="{{ entry.object.permalinkURL }}">{{ entry.object.content }}</a></li>
    {% endfor %}
</ol>



<hr/>

{% if debug %}
	{% if js_str %}
		<p>JS string = "{{ js_str }}"</p>
	{% else %}
		<p>there's no js string.</p>
	{% endif %}
{% endif %}


